@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Poppins;
}

.curved-div {
  position: relative;
  background: hsl(var(--p));
  color: hsl(var(--b1));
  text-align: center;
  overflow: hidden;
}
.curved-div svg {
  display: block;
}
.curved-div.upper {
  background: hsl(var(--b1));
}
.curved-div h1 {
  font-size: 6rem;
  margin-top: 0rem;
}
.curved-div p {
  font-size: 1rem;
  margin: 0 5rem 0rem 5rem;
}

.stat-value2 {
  grid-column-start: 1;
  white-space: nowrap;
  font-size: 2.25rem /* 36px */;
  line-height: 2.5rem /* 40px */;
  font-weight: 800;
}
